<style>
table {
	border-collapse: collapse;
width: 100%;
}
</style>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">ToDoApp</a>
		</div>
		<ul class="nav navbar-nav">
			<li *ngFor="#op of ops" class="{{ op.class }}"><a id="op_{{ op.name }}" href="#" (click)="opstart($event)">{{ op.name }}</a></li>
		</ul>
	</div>
</nav>
<div class="container">
	<table class="table table-condensed" id="task_list">
		<thead>
			<tr>
				<th *ngFor="#col of columns">{{ col.name }}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#t of tasks">
				<td>{{ t.id }}</td>
				<td id="{{ t.name }}"rowDecorate>{{ t.name }}</td>
				<td>{{ t.cate }}</td>
				<td>{{ t.dead }}</td>
				<td id="comment_{{ t.name }}"myHighlight>Comment</td>
				<td id="result_{{ t.name }}"myHighlight>Result</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="task_create" class="container">
	 <form role="form" #f="ngForm" (ngSubmit)="submitCreate(f.value)">
	 <div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" ngControl="name" required>
	</div>
	 <div class="form-group">
		  <label for="category">Category</label>
		  <select class="form-control" ngControl="category" required>
			  <option></option>
			  <option>Bug</option>
			  <option>Feature</option>
		  </select>
	</div>
	 <div class="form-group">
		  <label for="deadline">Deadline(YYYY/MM/DD)</label>
		  <input type="text" class="form-control" ngControl="deadline" required>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
