<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	  background-color: #333;
}

table {
	border-collapse: collapse;
width: 100%;
}
</style>
<ul>
	<li *ngFor="#op of ops">
	<a id="op_{{ op.name }}" class="{{ op.class }}" href="#{{ op.id }}" (click)="opstart($event)"> {{ op.name }} </a>
	</li>
</ul>
<table style="margin-top: 10px;" id="task_list">
	<tr>
		<th *ngFor="#col of columns">
		{{ col.name }}
		</th>
	</tr>
	<tr *ngFor="#t of tasks">
		<td>{{ t.id }}</td>
		<td>{{ t.name }}</td>
		<td>{{ t.cate }}</td>
		<td>{{ t.dead }}</td>
		<td>{{ t.remain }}</td>
		<td>{{ t.progress }}</td>
		<td myHighlight>{{ t.result }}</td>
	</tr>
</table>
<div id="task_create">
	<div class="form-group">
		<label for="name">Name</label>
		<input id="tname" type="text" class="form-control" required>
	</div>
	  <div class="form-group">
		  <label for="category">Category</label>
		  <input type="text" class="form-control">
	</div>
	 <div class="form-group">
		  <label for="deadline">Deadline</label>
		  <input type="text" class="form-control">
	</div>
	 <div class="form-group">
		  <label for="remaining">Remaining Days</label>
		  <input type="text" class="form-control" disabled="disabled">
	</div>
	 <div class="form-group">
		  <label for="progress">Progress</label>
		  <input type="text" class="form-control" value="0" disabled="disabled">
	</div>
	 <div class="form-group">
		  <label for="result">Result</label>
		  <input type="text" class="form-control" value="Not Finish" disabled="disabled">
	</div>
</div>

